@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen:wght@300;400;700&display=swap');
* {box-sizing: border-box;}

body { 
  margin: 0;
 font-family: 'Oxygen', sans-serif;
  overflow-x: hidden;
}
/*header*/
.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
  text-decoration: none;
  padding: 20;
    position: fixed;
    width: 100%;
    left: 0;
    right: 50;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 999;
    padding: 15px 0;
    
    
}

.header a {
  float: left;
  text-align: center;
  padding: 8px 15px;
  text-decoration: none !important;
  line-height: 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #283a5e;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #01358D;
  color: #fff;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/* The hero image header banner*/
.hero-image {
  background-color:#01358D;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-text-box {
  margin-top:150px !important;
}
.header-text-box p{
  color:#fff;
  font-size: 25px;
}
.header-text-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:78px;
  line-height:78px;
  font-weight: 900;
  color:#fff;
  margin-top:150px;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.hero-text h1 {
 font-family: 'Oxygen', sans-serif;
  font-size: 75px !important;
  line-height: 54px !important;
  font-weight: 700;
}
.hero-text p {
font-size:25px;
font-family: 'DM Sans', sans-serif;
}
.btnbanner{
 
  border-radius: 4px;
 
  background-color: transparent;
  font-weight: 400;
  height: 60px !important;
  line-height: 60px;
  padding: 0 43px;
  text-decoration: none !important;
  border: 1px solid #fff;
  color:#fff;
}
/*Container and column*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  
  
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  
}

/* Features area */
.feature-section{
  background:#fbf9f8;
  background-image:url(../img/bg-pattern-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}.feature-box{
  background-color:#fff;
}
.wfn-feature-side{
  margin-top: 21px;
  margin-bottom: 21px;
  border-radius: 6px;
  height:100px;
  -webkit-box-shadow: 0px 20px 64px #97A1B21F;
  box-shadow: 0px 20px 64px #97A1B21F;
}
.wfn-feature-side:before,
.wfn-feature-side:after {
  content: ' ';
  display: table;
  height: 0px;
}
.wfn-feature-side > .fa {
  float: left;
}

.wfn-feature-side .wfn-description {
  margin-left: 35px;
 
  
}
.wfn-feature-side .wfn-description p {
  margin-top: 0;
  font-size:20px;
  
}

.wfn-feature-side .wfn-description p:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  
 
  
  .wfn-feature-side.right.wfn-lg-5x .wfn-description {
    margin-right: 95px;
  }
  
}
.wfn-feature-side h1,
.wfn-feature-side h2,
.wfn-feature-side h3 {
  margin-top: 0px;
}

.wfn-feature-above {
  text-align: center;
  margin: 20px 0px;
}
.wfn-feature-above .wfn-description {
  margin-top: 20px;
}
.wfn-feature-box {
  text-align: center;
  padding: 20px 40px;
  height: 100%;
  
}
.wfn-feature-box .wfn-description {
  text-align: left;
}
.wfn-feature-box:before {
  content: ' ';
  background-color: #30b8f1;
  position: absolute;
  top: 70px;
  left: 15px;
  right: 15px;
  bottom: 0px;
  z-index: -1;
}



/* wfn buttons */
.btn-default.btn-wfn {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ffffff;
  overflow: hidden;
}
.btn-default.btn-wfn:hover,
.btn-default.btn-wfn:focus,
.btn-default.btn-wfn:active,
.btn-default.btn-wfn.active,
.open .dropdown-toggle.btn-default.btn-wfn {
  color: #404249;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-default.btn-wfn:active,
.btn-default.btn-wfn.active,
.open .dropdown-toggle.btn-default.btn-wfn {
  background-image: none;
  top: 0px;
}


.bannerimg{
  margin-top:100px !important;
}
.icon{
  font-size:60px;
  margin:10px;
  -webkit-text-stroke: 1px #01358D !important;
  color:transparent
}
/*how it works*/
.how-it-works{
  margin-top:50px;
}
.text-center{
  text-align: center;
}
