@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.homepage {
  font-family: 'Oxygen', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  width: 50%;
}

.text-header h1 {
  line-height: 1.5;
  font-weight: bold;
  font-size: 32px;
}

.text-header .sme-span {
  color: #3a59fd;
}

.header-text .text-details {
  padding-top: 10px;
  max-width: 80%;
  font-size: 16px;
  color: #a1a1a1;
}

.cta button {
  background: #3a59fd;
  padding: 9px;
  min-width: 120px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
}

.cta .transparent {
  background: transparent;
  margin-left: 10px;
  color: #2e2e2e;
  border: 1px solid rgb(197, 197, 197);
}

.header-text .cta {
  padding-top: 30px;
  font-size: 14px;
  font-weight: bold;
}

.dots-pattern {
  margin-top: -50px;
  position: absolute;
  width: 150px;
}

.header-img {
  margin-top: 35px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  background: url('../../static/line.svg');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 85vh;
}

.person-img {
  border-radius: 5px;
  border-top-left-radius: 5px;
  background: url('../../static/christian-lunde-v-dd__G7g7k-unsplash.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.tick-card {
  background: white;
  text-align: center;
  align-items: center;
  width: 20%;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: -80px;
  position: absolute;
  top: 67%;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: -5px 10px 20px 0 #e4e4e4;
}

.tick {
  width: 50px;
  height: 50px;
  background: rgb(166, 255, 214);
  padding: 15px;
  border-radius: 50px;
}

.person-img span {
  font-weight: bold;
  max-width: 70%;
  font-size: 14px;
  color: #838383;
  padding-top: 10px;
}

@media screen and (max-width: 769px) {
  .header {
    flex-direction: column;
  }

  .header-text {
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }

  .header-text .text-details {
    max-width: 100%;
  }

  .header-img {
    width: 100%;
  }

  .person-img .tick-card {
    background: white;
    text-align: center;
    align-items: center;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    margin-left: 0;
    top: 70%;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: -5px 10px 20px 0 #e4e4e4;
  }
}

@media screen and (max-width: 500px) {
  .person-img .tick-card {
    width: 100%;
    position: relative;
    margin-left: 0;
    top: 80%;
  }
}

.first-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(248, 248, 248);
}

.first-section-card {
  margin-left: 20px;
  background: white;
  padding: 30px;
  text-align: left;
  align-items: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 35%;
  min-height: 350px;
  border: 1px solid white;
  box-shadow: -5px 10px 20px 10px rgb(219, 218, 218);
}

.first-section-header {
  font-weight: bold;
  font-size: 32px;
}

.section-cards {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
}

.section-cards img {
  width: 55px;
  height: 55px;
  background: #3a59fd;
  padding: 10px;
  border-radius: 5px;
}

.section-cards h3 {
  font-weight: bold;
  font-size: 22px;
  padding-top: 20px;
}

.section-cards span {
  padding-top: 10px;
}

@media screen and (max-width: 769px) {
  .first-section {
    padding-bottom: 50px;
  }

  .first-section-header {
    text-align: center;
  }

  .first-section-summary {
    text-align: center;
  }

  .section-cards {
    flex-direction: column;
  }

  .first-section-card {
    width: 100%;
    margin-top: 30px;
  }
}

.second-section {
  background: url('../../static/dash-one.svg') top 5% left -20px/246px 518px no-repeat, url('../../static/dot-two.svg') bottom right -20px/398px 395px no-repeat;
  background-color: #18191d;
  color: white;
  padding-bottom: 60px;
}

.how-it-works {
  padding-top: 40px;
}

.second-section-header {
  font-weight: bold;
  font-size: 32px;
}

.second-section .item-col {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.item-col.two {
  margin-top: 70px;
}

.item-col .item {
  width: 33.3%;
}

.item-col img {
  width: 40px;
  padding-bottom: 20px;
}

.item-col .item .item-header {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.item-col .item .item-subheading {
  color: #b9bbbe;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (max-width: 769px) {
  .how-it-works {
    text-align: center;
  }

  .item-col {
    flex-direction: column;
  }

  .item-col .item {
    width: 100%;
    margin-top: 30px;
  }

  .item-col.two {
    margin-top: 0;
  }
}
