.footer {
  position: absolute;
  top: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(197, 197, 197);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.socialhandle {
  margin-left: 20px;
}

.footer-content img {
  width: 20px;
  margin-right: 20px;
}
