  body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	line-height: 1.5;
  }
  
  .ifAuth {
	display: flex;
  }
  
  .sidenav {
	flex-grow: 1;
	top: 0;
	position: sticky;
	height: 100vh;
  }
  
  .content {
	flex-basis: 87%;
	background: #f8f8f8;
  }